@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : un peu de style global */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f3f4f6;
}